{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Home page</h1>
    <hr>
    <div class="mx-auto">
    <div class="container">

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><input id="range" min="0" max="100" step="10" value="50" type="range"></li>
            <li><p id="sound-volume"> </p></li>
        </ul>
      </div>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% for i in eng1 %}
            <li><p onclick="soundClick('{% static 'users/mp3/'|add:i|add:'.mp3' %}')" class="px-4 text-black">{{ i }}</p></li>
            {% endfor %}
        </ul>
      </div>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% for i in eng2 %}
            <li><p onclick="soundClick('{% static 'users/mp3/'|add:i|add:'.mp3' %}')" class="px-4 text-black">{{ i }}</p></li>
            {% endfor %}
        </ul>
      </div>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% for i in eng3 %}
            <li><p onclick="soundClick('{% static 'users/mp3/'|add:i|add:'.mp3' %}')" class="px-4 text-black">{{ i }}</p></li>
            {% endfor %}
        </ul>
      </div>
    </div>
    <script type="text/javascript">
        var volume = 0.5
        document.getElementById("sound-volume").innerHTML = volume;

        var range = document.getElementById('range');
            range.onchange = function(){
              volume = this.value / 100
              document.getElementById("sound-volume").innerHTML = volume;
            }

        function soundClick(sound_source) {
          var audio = new Audio(); // Создаём новый элемент Audio
          audio.src = sound_source; // Указываем путь к звуку "клика"
          audio.volume = volume;
          audio.autoplay = true; // Автоматически запускаем
        }
    </script>

{% endblock %}