{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Radiogramm</title>
{% endblock %}

{% block content %}
    <h1>Radiogramm</h1>
    <hr>
    <div class="mx-auto">
    <div class="container">

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><input id="volume-range" min="0" max="100" step="10" value="50" type="range"></li>
            <li><p id="sound-volume"> </p></li>
        </ul>
      </div>

    </div>
    </div>

{% endblock %}